body{
    background-image: url(./images/silver-gold-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#calender{
    float:right;
}
#fimage{
    float: right;
}
#names{
    display: flex;
}